
{% extends 'nav.html' %}
{% include "all_render.html" %}
{% load widget_tweaks %}
{% block content %}
<head>

<style type="text/css">
      label{
      text-transform: capitalize;
    }
</style>
</head>
{% if form %}
<form method="POST">
    {% csrf_token %}
<div class=""  align=center style="padding:80px 120px; background-color: " >
    <div class="box box-primary">
        <div class="box-body">
        <h3> Create  Engagement</h3>
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
      </div>
    </div>
      {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group col-sm-4">
      {{ field.label_tag }}
      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
  <button  type="submit" class="button">Submit</button>
</form>
{% endif %}
  </div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

  <script>
    $("#id_fiscal_start_month,#id_fiscal_end_month").datetimepicker()  </script>
  {% endblock %}
